<h1 *ngIf="!isUpdateMode">Afegir transacció</h1>
<h1 *ngIf="isUpdateMode">Editar transacció</h1>

<form *ngIf="dataForm" [formGroup]="dataForm" (ngSubmit)="saveData()">
  <div id="type">
    <mat-button-toggle-group
      [formControl]="type"
      aria-label="Font Style"
      value="type"
    >
      <mat-button-toggle [value]="true">INGRESSOS</mat-button-toggle>
      <mat-button-toggle [value]="false">DESPESSES</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div id="description">
    <mat-form-field appearance="fill">
      <mat-label for="description">Descripció:</mat-label>
      <input matInput type="text" [formControl]="description" />
      <mat-error *ngIf="description.errors?.required"
        >Introdueix una descripció</mat-error
      >
      <mat-error *ngIf="description.errors?.minLength"
        >Longitud mínima de la descripció es de 10 caràcters</mat-error
      >
    </mat-form-field>
  </div>
  <div id="publicationDate">
    <mat-form-field appearance="fill">
      <mat-label for="publicationDate">Data de publicació</mat-label>
      <input
        matInput
        type="date"
        data-date-format="YYYY MMMM DD"
        [formControl]="publication_date"
      />
      <mat-error *ngIf="publication_date.errors?.required"
        >Introdueix una data de publicació</mat-error
      >
    </mat-form-field>
  </div>
  <div id="Categories">
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar categoria</mat-label>
      <mat-select [formControl]="category">
        <mat-option
          *ngFor="let categoria of categoriesList"
          [value]="categoria.idCategory"
        >
          {{ categoria.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="value">
    <mat-form-field appearance="fill">
      <mat-label for="value">Quantitat:</mat-label>
      <input matInput type="number" [formControl]="value" />
      <span matSuffix>€</span>
      <mat-error *ngIf="value.errors?.required"
        >Introdueix un valor de transacció</mat-error
      >
      <mat-error *ngIf="value.errors?.min"
        >L'import mínim de transacció es de 0€, el valor no pot ser
        negatiu</mat-error
      >
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-icon-button type="submit">
      <mat-icon *ngIf="!isUpdateMode">add_circle</mat-icon>
      <mat-icon *ngIf="isUpdateMode">edit</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="goListData()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</form>
