<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="left">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goHome()">
      <mat-icon>home</mat-icon>
      <span>Inici</span>
    </button>
    <button mat-menu-item [disabled]="!loginUser" (click)="goAddData()">
      <mat-icon>note_add</mat-icon>
      <span>Afegir transacció</span>
    </button>
    <button mat-menu-item [disabled]="!loginUser" (click)="goAddCategory()">
      <mat-icon>library_add</mat-icon>
      <span>Afegir categoria</span>
    </button>
  </mat-menu>
  <a class="center">asa</a>

  <button *ngIf="loginUser" mat-icon-button (click)="logout()" class="right">
    <mat-icon>output</mat-icon>
  </button>
  <button *ngIf="!loginUser" mat-icon-button (click)="goLogin()" class="right">
    <mat-icon>input</mat-icon>
  </button>
</div>
