<form [formGroup]="categoryForm" (submit)="saveCategory()">
  <h1>Afegir categoria</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label for="name">Nom:</mat-label>
      <input matInput type="text" [formControl]="name" />
      <mat-error *ngIf="name.errors?.required"
        >Introdueix un nom de categoria</mat-error
      >
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Color de la categoria</mat-label>
      <input
        matInput
        type="color"
        placeholder="Color de la categoria"
        [formControl]="color"
      />
      <mat-error *ngIf="color.errors?.required"
        >Introdueix un color de categoria</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label for="description">Descripció:</mat-label>
      <input matInput type="text" [formControl]="description" />
    </mat-form-field>
  </div>
  <div id="button">
    <button mat-icon-button type="submit">
      <mat-icon *ngIf="!isUpdateMode">add_circle</mat-icon>
      <mat-icon *ngIf="isUpdateMode">edit</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="goListCategory()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</form>
