.ingress {
  background-color: #6f9dff93;
}
.despessa {
  background-color: #ffd16f93;
}
table {
  width: 97%;
}
tr {
  border: 50px;
}
div.listData {
  display: flex;
  justify-content: center;
}
div#button button {
  margin: 10px;
  margin-top: 20px;
}
