<h2>Llista de data</h2>
<mat-form-field appearance="fill">
  <mat-label>Entrar rang de data</mat-label>
  <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker">
    <input
      matStartDate
      formControlName="start"
      placeholder="Start date"
      (dateInput)="eventDate()"
      (dateChange)="eventDate()"
    />
    <input
      matEndDate
      formControlName="end"
      placeholder="End date"
      (dateInput)="eventDate()"
      (dateChange)="eventDate()"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="rangeDate.controls.start.hasError('matStartDateInvalid')"
    >Invalid start date</mat-error
  >
  <mat-error *ngIf="rangeDate.controls.end.hasError('matEndDateInvalid')"
    >Invalid end date</mat-error
  >
</mat-form-field>

<div class="listData">
  <table mat-table [dataSource]="filterDataList">
    <!-- type Column -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          [(ngModel)]="selectAll"
          (click)="checkAll(selectAll)"
        ></mat-checkbox>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        <mat-checkbox
          color="primary"
          [(ngModel)]="element.selected"
          (click)="checkElement(element)"
        ></mat-checkbox>
      </td>
    </ng-container>
    <!-- DESCRIPTION Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓ</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        {{ element.transaccio.description }}
      </td>
    </ng-container>
    <!-- PUBLICACIÓ Column -->
    <ng-container matColumnDef="publication_date">
      <th mat-header-cell *matHeaderCellDef>DATA</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        {{ element.transaccio.publication_date }}
      </td>
    </ng-container>
    <!-- CATEGORIES Column -->
    <ng-container matColumnDef="CategoryList">
      <th mat-header-cell *matHeaderCellDef>CATEGORIES</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        {{ element.transaccio.Category.name }}
      </td>
    </ng-container>
    <!-- VALOR Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>VALOR</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        {{ element.transaccio.value }}€
      </td>
    </ng-container>
    <!-- ACTIONS Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>ACCIONS</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ingress: element.transaccio.type == true,
          despessa: element.transaccio.type != true
        }"
      >
        <button mat-icon-button (click)="updateData(element.transaccio.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteData(element.transaccio)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div id="button">
  <button mat-icon-button (click)="createData()">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteSelect()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
