<div class="form">
  <form [formGroup]="userForm" (submit)="login()">
    <h1>Iniciar secció</h1>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Correu electrònic</mat-label>
        <input matInput type="email" [formControl]="email" />
        <mat-error *ngIf="email.errors?.required"
          >Introdueix un correu electrónic</mat-error
        >
        <mat-error *ngIf="email.errors?.pattern"
          >Introdueix un correu electrónic</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Entrar la teva contrasenya</mat-label>
        <input
          matInput
          [formControl]="pass"
          [type]="passwordHide ? 'password' : 'text'"
        />
        <mat-error *ngIf="pass.errors?.required"
          >Introdueix una contrasenya</mat-error
        >

        <button
          mat-icon-button
          matSuffix
          (click)="passwordHide = !passwordHide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHide"
        >
          <mat-icon>{{
            passwordHide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div id="button">
      <button mat-raised-button type="submit" (click)="login()">Entrar</button>
    </div>
    <mat-divider></mat-divider>
  </form>
</div>
<div class="button">
  <button mat-raised-button (click)="googleAuth()">
    Iniciar sessió amb Google
  </button>
  <button mat-raised-button (click)="register()">Registrar</button>
</div>
