<div class="page">
  <div class="diference">
    <h2 *ngIf="totalIngres - totalDespesa > 0" class="positive">
      {{ totalIngres - totalDespesa }}€
    </h2>
    <h2 *ngIf="totalIngres - totalDespesa == 0" class="neutral">
      {{ totalIngres - totalDespesa }}€
    </h2>
    <h2 *ngIf="totalIngres - totalDespesa < 0" class="negative">
      {{ totalIngres - totalDespesa }}€
    </h2>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Entrar rang de data</mat-label>
    <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="start"
        placeholder="Start date"
        (dateInput)="eventDate('input', $event)"
        (dateChange)="eventDate('change', $event)"
      />
      <input
        matEndDate
        formControlName="end"
        placeholder="End date"
        (dateInput)="eventDate('input', $event)"
        (dateChange)="eventDate('change', $event)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="rangeDate.controls.start.hasError('matStartDateInvalid')"
      >Invalid start date</mat-error
    >
    <mat-error *ngIf="rangeDate.controls.end.hasError('matEndDateInvalid')"
      >Invalid end date</mat-error
    >
  </mat-form-field>

  <div class="list">
    <div id="ingressos">
      <h1>Ingressos</h1>
      <p>{{ totalIngres }}€</p>
      <table>
        <tr *ngFor="let ingressos of categoryListIngressos">
          <td>{{ ingressos.category.name }}</td>
          <td>{{ ingressos.value }}€</td>
        </tr>
      </table>
    </div>
    <div id="despesses">
      <h1>Despeses</h1>
      <p>{{ totalDespesa }}€</p>
      <table>
        <tr *ngFor="let despesses of categoryListDespesses">
          <td>{{ despesses.category.name }}</td>
          <td>{{ despesses.value }}€</td>
        </tr>
      </table>
    </div>
  </div>
</div>
